    <!-- ******ABOUT****** --> 
    <section id="about" class="about section">
        <div class="container">
            <h2 class="title text-center">CornWorldStudio 是什么？</h2>
            <p class="intro text-center">CornWorldStudio是由CornWorld于2017年9月1日成立的一个工作室，这个工作室致力于为开发者提供一些<big>快捷、简单、实用、可靠</big>的软件以及工具包。</p>
            <div class="row">
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-heart"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">可靠</h3>
                        <p>为了开发者的利益，我们发布的软件必须通过7道安全检查、16道漏洞检查以及7道使用测试。</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-clock-o"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">快捷</h3>
                        <p>为了给开发者节省时间，我们一定会做到使用快捷、软件小巧、操作方便、界面简洁等要求。</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-crosshairs"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">用户</h3>
                        <p>我们用最高的要求要求我们：“让用户好，就是让我们好！”我们一心一意为着用户服务。</p>
                    </div><!--//content-->
                </div><!--//item-->           
                <div class="clearfix visible-md"></div>    
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-tablet"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">移动</h3>
                        <p>为了让开发者有更大的开发空间，我们会尽力的让我们的软件平台兼容性更高更好。</p>
                    </div><!--//content-->
                </div><!--//item-->                
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-code"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">简单</h3>
                        <p>我们制作软件时第一个考虑就是为简单而快捷设计的，所以，用户在使用时必定会惊叹我们的软件是多么的简单，这就大大提高了工作效率。</p>
                    </div><!--//content-->
                </div><!--//item-->
                <div class="item col-md-4 col-sm-6 col-xs-12">
                    <div class="icon-holder">
                        <i class="fa fa-coffee"></i>
                    </div>
                    <div class="content">
                        <h3 class="sub-title">简洁</h3>
                        <p>我们所有的软件都保持着我们特有的简洁风格，所以的软件里面不会出现任何多余的部分，所有的软件都是最精简的。</p>
                    </div><!--//content-->
                </div><!--//item-->               
            </div><!--//row-->            
        </div><!--//container-->
    </section><!--//about-->
